.wrapper {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  background-image: url("../../assets/svg/Background-3.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 100px;

  @media screen and (max-width: 992px) {
    padding: 0 20px;
    background-size: 90%;
  }
  @media screen and (max-width: 850px) {
    background-position: 50%;
  }

  .title {
    font: 400 36px/133% "TT Hoves";
    margin-bottom: 100px;
    font-family: "TT Hoves", sans-serif;

    @media screen and (max-width: 850px) {
      font-size: 22px;
    }
  }

  .blocks {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    column-gap: 40px;
    .steps {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;
      .step {
        display: grid;
        grid-template-columns: 30% 70%;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 850px) {
          grid-template-columns: 12% 85%;
        }
        @media screen and (max-width: 750px) {
          grid-template-columns: 20% 75%;
        }
        @media screen and (max-width: 535px) {
          grid-template-columns: 30% 65%;
        }
        @media screen and (max-width: 335px) {
          grid-template-columns: 40% 55%;
        }

        div {
          max-width: 82px;
          min-height: 82px;
          border: 1px solid #0090ff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 80px;
          color: #0090ff;
          font-size: 48px;
        }

        p {
          font-family: "TT Hoves", sans-serif;
          color: #1b1a22;
          letter-spacing: -0.01em;
          font-weight: 300;

          span {
            font-weight: 600;
          }

          .lastStep {
            -webkit-box-decoration-break: clone;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
            text-fill-color: transparent !important;
            background: linear-gradient(
              180deg,
              #00dfbd -1.69%,
              #0090ff 112.64%
            );
            transition: background 0.3s;
          }
        }
      }
    }

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border: 0 solid;
      background: linear-gradient(
        97.05deg,
        #ff4a38 -13.27%,
        #fe5196 104.49%,
        #ff1a75 104.49%
      );
      padding: 14px 25px;
      display: inline-block;
      font-weight: 400;
      font-size: 18px;
      border-radius: 50px;
      line-height: 21px;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.3s;
      text-decoration: none;
      box-shadow: 0 0 0 0 #ff4a38;
      margin: 60px 0;

      &:hover {
        box-shadow: 0 0 10px 8px #ff4a38;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }

    h2 {
      font: 400 36px/133% "TT Hoves";
      margin-bottom: 20px;
      font-family: "TT Hoves", sans-serif;

      @media screen and (max-width: 992px) {
        font-size: 22px;
      }
    }

    p {
      font-weight: 500;
      color: #1b1a22;
      letter-spacing: -0.01em;
    }
  }
}
